body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  flex: 0 1 auto;
  background-color: rgba(0, 40, 0, 1);
}

.bg {
  position: absolute;
  z-index: -1;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  filter: brightness(0.8);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

ul > li > a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 50px;
}

.icon {
  height: 25px;
}

.body {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  color: white;
  font-size: 100px;
}
